<ion-content color="primary">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <img src="./../../../assets/icon/icon.png" alt="">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="text-align: center;" size="12">
          <ion-title color="secondary">Inventory Bar - Iniciar Sesión</ion-title>
        </ion-col>
      </ion-row>

      <form>
        <ion-row *ngIf="roleSelected == 0">
            <ion-col size="12">
                <ion-item color="primary">
                  <ion-label>Selecciona tu posición</ion-label>
                  <ion-select style="width: 100%" [(ngModel)]="position" name="position" (ionChange)="changeRole($event)" interface="popover">
                    <ion-select-option value="Jefe">Jefe</ion-select-option>
                    <ion-select-option value="Empleado">Empleado</ion-select-option>
                  </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </form>
    <form  *ngIf="roleSelected == 1">
          <ion-row>
              <ion-col size="12">
                <ion-item color="primary">
                  <ion-label position="floating">Correo</ion-label>
                  <ion-input type="text" [(ngModel)]="boss.Email" name="Email"></ion-input>
                </ion-item>
              </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="12">
              <ion-item color="primary">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="boss.Password" name="Password" (keypress)="startBossSessionWithEnterButton($event.keyCode)"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item lines="none" color="primary">
                <ion-checkbox color="secondary" value="true" [(ngModel)]="boss.StartedSession" name="startedSession"></ion-checkbox>&nbsp; &nbsp;
                <ion-label>Mantener mi sesión iniciada</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button (click)="startBossSession()" style="--background: black; color:white; width: 100%;" shape="round">
                <ion-icon slot="start" name="enter-outline"></ion-icon>
                Entrar
              </ion-button>
            </ion-col>
          </ion-row>
    </form>
    <form *ngIf="roleSelected == 2">
      <ion-row>
          <ion-col size="12">
              <ion-item color="primary">
                <ion-label position="floating">Código de empleado</ion-label>
                <ion-input type="number" [(ngModel)]="employee.Code" name="code"></ion-input>
              </ion-item>
              <ion-item color="primary">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" [(ngModel)]="employee.Password" name="password" (keypress)="startEmployeeSessionWithEnterButton($event.keyCode)"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-item lines="none" color="primary">
                <ion-checkbox color="secondary" value="true" [(ngModel)]="employee.StartedSession" name="employeeStartedSession"></ion-checkbox>&nbsp; &nbsp;
                <ion-label>Mantener mi sesión iniciada</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button (click)="startEmployeeSession()" style="--background: black; color:white; width: 100%;" expand="block" fill="full" shape="round">
                <ion-icon name="enter-outline"></ion-icon>&nbsp;
                Entrar
              </ion-button>
            </ion-col>
          </ion-row>
    </form>
      <ion-row *ngIf="roleSelected != 0">
        <ion-col size="12" *ngIf="position == 'Jefe'">
          <ion-button color="secondary" (click)="goToSelectRoleScreen()" expand="block" fill="clear" shape="round">
            ¿No eres jefe? Volver atrás.
          </ion-button>
        </ion-col>
        <ion-col size="12" *ngIf="position == 'Empleado'">
          <ion-button color="secondary" (click)="goToSelectRoleScreen()" expand="block" fill="clear" shape="round">
            ¿No eres empleado? Volver atrás.
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
