<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Insertar inventario actual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-grid>
    <form [formGroup]="form">
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">Cantidad</ion-label>
            <ion-input formControlName="Cuantity" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="updateActualInventory()" style="width: 100%;" color="primary" shape="round" [disabled]="form.invalid">
            <ion-icon slot="start" name="add-circle"></ion-icon>
            Insertar cantidad
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>