<app-cabecera-jefe></app-cabecera-jefe>

<ion-content color="tertiary">

  <ion-grid>
      <ion-row>
        <ion-col style="text-align: center;" size="12">
          <ion-title>Listado de sucursales</ion-title>
        </ion-col>
      </ion-row>
    <ion-row *ngIf="subsidiaries.length == 0">
      <ion-col style="text-align: center; color: gray; font-style: italic;" size="12">
        <ion-label>No hay sucursales registradas</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list style="background: white;">
    <ion-item color="tertiary" *ngFor="let subsidiaryItem of subsidiaries, let i = index">
      <ion-button (click)="goToInventories(i)" color="primary" style="width: 100%;" fill="clear" >
        {{subsidiaryItem.Name}}
      </ion-button>
    </ion-item>
  </ion-list>