<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="dataSvc.getProviderOperation() == 'crear'">Registrar Proveedor</ion-title>
    <ion-title *ngIf="dataSvc.getProviderOperation() == 'modificar'">Modificar Proveedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-grid>
    <form [formGroup]="form">
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" formControlName="Name"></ion-input>
          </ion-item>
          <div *ngIf="Name.invalid && (Name.touched || Name.dirty)">
            <ion-item *ngIf="Name.errors.required" color="tertiary" lines="none">
              <ion-label color="danger">Debes insertar un nombre</ion-label>
            </ion-item>
            <ion-item *ngIf="Name.errors.minlength" color="tertiary" lines="none">
              <ion-label color="danger">Debes escribir al menos 3 letras</ion-label>
            </ion-item>
            <ion-item *ngIf="Name.errors.maxlength" color="tertiary" lines="none">
              <ion-label color="danger">Debes escribir menos de 30 letras</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">Producto</ion-label>
            <ion-input type="text" formControlName="Product"></ion-input>
          </ion-item>
          <div *ngIf="Product.invalid && (Product.touched || Product.dirty)">
            <ion-item *ngIf="Product.errors.required" color="tertiary" lines="none">
              <ion-label color="danger">Debes insertar un producto</ion-label>
            </ion-item>
            <ion-item *ngIf="Product.errors.minlength" color="tertiary" lines="none">
              <ion-label color="danger">Debes escribir al menos 3 letras</ion-label>
            </ion-item>
            <ion-item *ngIf="Product.errors.maxlength" color="tertiary" lines="none">
              <ion-label color="danger">Debes escribir menos de 30 letras</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">Cantidad</ion-label>
            <ion-input type="number" formControlName="Cuantity"></ion-input>
          </ion-item>
          <div *ngIf="Cuantity.invalid && (Cuantity.touched || Cuantity.dirty)">
            <ion-item *ngIf="Cuantity.errors.required" color="tertiary" lines="none">
              <ion-label color="danger">Debes insertar una cantidad</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input type="text" formControlName="PhoneNumber"></ion-input>
          </ion-item>
          <div *ngIf="PhoneNumber.invalid && (PhoneNumber.touched || PhoneNumber.dirty)">
            <ion-item *ngIf="PhoneNumber.errors.maxlength" color="tertiary" lines="none">
              <ion-label color="danger">Debes insertar solo 10 números</ion-label>
            </ion-item>
            <ion-item *ngIf="PhoneNumber.errors.minlength" color="tertiary" lines="none">
              <ion-label color="danger">Debes insertar solo 10 números</ion-label>
            </ion-item>
            <ion-item *ngIf="PhoneNumber.errors.pattern" color="tertiary" lines="none">
              <ion-label color="danger">Debes insertar solo números</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button *ngIf="dataSvc.getProviderOperation() == 'crear'" (click)="saveProvider()" style="width: 100%;" shape="round" [disabled]="form.invalid">
            <ion-icon slot="start" name="add-circle"></ion-icon>
            Guardar proveedor
          </ion-button>
          <ion-button *ngIf="dataSvc.getProviderOperation() == 'modificar'" (click)="updateProvider()" style="width: 100%;" shape="round" [disabled]="form.invalid">
            <ion-icon slot="start" name="add-circle"></ion-icon>
            Modificar proveedor
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>