<app-cabecera></app-cabecera>
<ion-content color="secondary">
    <ion-grid>
        <ion-row>
            <ion-col size="4"></ion-col>
            <ion-col size="4" style="display: flex; justify-content: center;"> 
                <img class="perfil" src="./../../../../assets/user.png" *ngIf="imagen == ''">
                <div style="background: url({{imagen}}); 
                background-size: 100% 100%; 
                width: 125px; 
                height: 125px; 
                border-radius: 100px;" *ngIf="imagen != ''"></div>
            </ion-col>
            <ion-col size="4"></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12" style="text-align: center;">
                <h1>Bienvenido, {{nombre}}</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button (click)="goToPage('sucursales')" style="width: 100%; height: 75px; font-size: 20px;" fill="outline"  shape="round">
                <i class="fas fa-store"></i>&nbsp;
                Sucursales
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button (click)="goToPage('stock')" style="width: 100%; height: 75px; font-size: 20px;" fill="outline" shape="round">
                    <ion-icon slot="start" name="cube-outline"></ion-icon>
                    Crear Stock
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button (click)="goToPage('proveedores')" style="width: 100%; height: 75px; font-size: 20px;" fill="outline"  shape="round">
                    <ion-icon slot="start" name="person-add-outline"></ion-icon>
                    Proveedores
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button (click)="goToPage('calculadora')" style="width: 100%; height: 75px; font-size: 20px;" fill="outline"  shape="round">
                    <ion-icon slot="start" name="calculator-outline"></ion-icon>
                    Calculadora
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button (click)="goToPage('editar')" style="width: 100%; height: 75px; font-size: 20px;" fill="outline"  shape="round">
                    <ion-icon slot="start" name="settings-outline"></ion-icon>
                    Editar Perfil
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <ion-button (click)="goToPage('salir')" style="width: 100%; height: 75px; font-size: 20px;" fill="outline"  shape="round">
                    <ion-icon slot="start" name="log-out-outline"></ion-icon>
                    Salir
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
