<app-cabecera-jefe></app-cabecera-jefe>

<ion-content color="secondary">
  <ion-list style="background: white;">
    <ion-item color="secondary" *ngFor="let emp of empleados, let i = index">
      <ion-button (click)="abrirEmpleado(i)" style="width: 100%;" expand="full" fill="clear">
        {{emp.Nombre}}
      </ion-button>
      <ion-button (click)="abrirAlert(i)" color="danger" fill="clear">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-fab (click)="goToCreateEmployee()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
