<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{producto.Nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="text-align: center;">
        <ion-title>Información del producto</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card color="primary">
          <ion-card-content>
            <ion-list style="background: #3a93c9;">
              <ion-item color="primary">
                <h4>Cantidad inicial: {{product.InitialCuantity}}</h4>
              </ion-item>
              <ion-item color="primary">
                <h4>Entrada: {{product.Entry}}</h4>
                <ion-button (click)="openCreateEntry()" color="secondary" fill="clear" [disabled]="inventoryState == 'Finalizado'">
                  <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item color="primary">
                <h4>Notas de entrada:</h4>
                <ion-button (click)="openProductEntryNotes()" color="secondary" fill="clear" [disabled]="inventoryState == 'Finalizado'">
                  <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item color="primary">
                <h4>Cantidad incial + entrada: {{product.EntrySum}}</h4>
              </ion-item>
              <ion-item color="primary">
                <h4>Salida: {{producto.Exit}}</h4>
                <ion-button (click)="openCreateExit()" color="secondary" fill="clear" [disabled]="inventoryState == 'Finalizado'">
                  <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item color="primary">
                <h4>Notas de salida:</h4>
                <ion-button (click)="openProductExitNotes()" color="secondary" fill="clear" [disabled]="inventoryState == 'Finalizado'">
                  <ion-icon slot="icon-only" name="eye-outline"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item color="primary">
                <h4>Total de existencia: {{product.TotalExistence}}</h4>
              </ion-item>
              <ion-item color="primary">
                <h4>Inventario actual: {{product.ActualInventory}} </h4>
                <ion-button (click)="openCreateActualInventory()" color="secondary" fill="clear" [disabled]="inventoryState == 'Finalizado'">
                  <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                </ion-button>
              </ion-item>
              <ion-item color="primary">
                <h4>Diferencia: {{product.Difference}}</h4>
              </ion-item>
              <ion-item color="primary">
                <h4>Nota Final: {{product.FinalNote}}</h4>
                <ion-button (click)="openCreateFinalNote()" color="secondary" fill="clear" [disabled]="inventoryState == 'Finalizado'">
                  <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="saveChanges()" color="success" style="width: 100%;" shape="round" [disabled]="inventoryState == 'Finalizado'">
          <ion-icon slot="start" name="checkmark-circle"></ion-icon>
          Guardar Cambios
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
