<app-cabecera-jefe></app-cabecera-jefe>

<ion-content color="tertiary">
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;" size="12">
        <ion-title>Listado de empleados</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list style="background: white;">
    <ion-item color="tertiary" *ngFor="let employeeItem of employees, let i = index">
      <ion-button (click)="openEmployeeDetailsModal(i)" style="width: 100%;" expand="full" fill="clear">
        {{employeeItem.Name}}
      </ion-button>
      <ion-button (click)="confirmDeleteEmployee(i)" color="danger" fill="clear">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-fab (click)="openCreateEmployeeModal()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
