<app-cabecera></app-cabecera>

<ion-content color="tertiary">
  <ion-grid>
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
        <img (click)="openChangeProfilePhotoPopover()" src="../../../../assets/user.png" class="perfil" *ngIf="employeeProfilePhoto == ''">
      <div (click)="openChangeProfilePhotoPopover()" style="background: url({{employeeProfilePhoto}});
      background-size: 100% 100%; width: 125px; height:125px; border-radius:100px;" *ngIf="employeeProfilePhoto != ''"></div>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <form [formGroup]="form">
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">Nombre completo</ion-label>
            <ion-input type="text" formControlName="Name"></ion-input>
          </ion-item>
          <div *ngIf="Name.invalid && (Name.dirty || Name.touched)">
            <ion-item color="tertiary" lines="none" *ngIf="Name.errors.required">
              <ion-label color="danger">No puedes dejarlo vacío</ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" *ngIf="Name.errors.minlength">
              <ion-label color="danger">Escribe como mínimo 3 letras</ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" *ngIf="Name.errors.maxlength">
              <ion-label color="danger">Un nombre no tiene más de 30 letras</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">Edad</ion-label>
            <ion-input type="number" formControlName="Age"></ion-input>
          </ion-item>
          <div *ngIf="Age.invalid && (Age.dirty || Age.touched)">
            <ion-item color="tertiary" lines="none" *ngIf="Age.errors.required">
              <ion-label color="danger">No puedes dejarlo vacío</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input type="text" formControlName="PhoneNumber"></ion-input>
          </ion-item>
          <div *ngIf="PhoneNumber.invalid && (PhoneNumber.dirty || PhoneNumber.touched)">
            <ion-item color="tertiary" lines="none" *ngIf="PhoneNumber.errors.required">
              <ion-label color="danger">No puedes dejarlo vacío</ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" *ngIf="PhoneNumber.errors.minlength">
              <ion-label color="danger">Solo 10 números</ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" *ngIf="PhoneNumber.errors.maxlength">
              <ion-label color="danger">Solo 10 números</ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none"  *ngIf="PhoneNumber.errors.pattern">
              <ion-label color="danger">Solo números</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">Correo</ion-label>
            <ion-input type="text" formControlName="Email"></ion-input>
          </ion-item>
          <div *ngIf="Email.invalid && (Email.dirty || Email.touched)">
            <ion-item color="tertiary" lines="none" *ngIf="Email.errors.email">
              <ion-label color="danger">Escribe un correo válido</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button style="width: 100%;" (click)="openChangePasswordModal()" shape="round">
            <ion-icon slot="start" name="key-outline"></ion-icon>
            Cambiar contraseña
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="saveEmployeeProfileInfo()" style="width: 100%;" shape="round" [disabled]="form.invalid">
            <ion-icon slot="start" name="checkmark-circle"></ion-icon>
            Guardar Cambios
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
