<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inventory Bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">

  <ion-grid>
      <ion-row>
        <ion-col style="text-align: center;" size="12">
          <ion-title>Listado de inventarios</ion-title>
        </ion-col>
      </ion-row>
    <ion-row *ngIf="inventarios.length == 0">
      <ion-col size="12" style="text-align: center; font-style: italic; color:gray;">
        <p>No hay inventarios registrados aún.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list style="background: white;">
    <ion-item color="tertiary" *ngFor="let inv of inventarios, let i = index">
      <ion-button (click)="goToAdministracion(i)" style="width: 100%;" expand="full" fill="clear">
        {{inv.NombreInventario}}<br> 
        {{inv.FechaInventario}}
      </ion-button>
      <ion-button color="success" fill="clear" *ngIf="inv.Estado == 'Finalizado'">
        <ion-icon slot="icon-only" name="checkmark-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="abrirAlert(i)" color="danger" fill="clear">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="confirmarEliminarSucursal()" style="width: 100%;" shape="round" color="danger">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Eliminar sucursal
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab (click)="abrirModal()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
