<ion-content color="secondary">
  <ion-list style="background: white;">
    <ion-item lines="none" color="secondary">
      <label style="width: 100%; height: 100%; margin-top: 30px; margin-left: 25px; color: #1c5781;" fill="clear">
        <ion-icon slot="start" name="image-outline"></ion-icon>
        <input type="file" name="subirIMG" accept="image/*" (change)="subirImagen($event)" style="display: none;">
         Subir desde galería
      </label>
    </ion-item>
    <ion-item lines="none" color="secondary">
      <ion-button style="width: 100%; height: 100%;" fill="clear">
        <ion-icon slot="start" name="camera-outline"></ion-icon>
        Tomar foto con la cámara
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>