<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registrar producto</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="tertiary">
  <ion-grid>
    <form [formGroup]="form">
      <ion-row>
        <ion-col size="9">
          <ion-item color="tertiary">
            <ion-label position="floating">Código</ion-label>
            <ion-input type="number" formControlName="Code"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="readBarCode()">
            <ion-icon slot="icon-only" name="barcode"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">Nombre Producto</ion-label>
            <ion-input type="text" formControlName="Name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">Inventario inicial</ion-label>
            <ion-input type="number" formControlName="InitialCuantity"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="createProduct()" style="width: 100%;" shape="round" [disabled]="form.invalid">
            <ion-icon slot="start" name="add-circle"></ion-icon>
            Agregar producto
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>