<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-grid>
    <form [formGroup]="form">
      <ion-row>
        <ion-col size="12">
          <ion-item color="secondary">
            <ion-label position="floating">Nombre del inventario</ion-label>
            <ion-input formControlName="Nombre" ype="text"></ion-input>
          </ion-item>
          <ion-item lines="none" color="secondary" *ngIf="Nombre.invalid && (Nombre.touched || Nombre.dirty)">
            <ion-label color="danger" *ngIf="Nombre.errors.required">Escribe un nombre</ion-label>
            <ion-label color="danger" *ngIf="Nombre.errors.maxlength">Nombre muy largo</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="secondary">
            <ion-label position="floating">Fecha de creación</ion-label>
            <ion-input formControlName="Fecha" ype="text" readonly></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="secondary">
            <ion-label>Sucursal</ion-label>
            <ion-select formControlName="Sucursal" interface="popover">
              <ion-select-option *ngFor="let sucursal of sucursales" [value]="sucursal.key">{{sucursal.Nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" color="secondary" *ngIf="Sucursal.invalid && (Sucursal.touched || Sucursal.dirty)">
            <ion-label color="danger" *ngIf="Sucursal.errors.required">Debes seleccionar una sucursal</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="crearInventario()" style="width: 100%;" color="primary" shape="round" [disabled]="form.invalid">
            Crear inventario
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>