<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crear inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-grid>
    <form>
      <ion-row>
        <ion-col size="12">
          <ion-item color="secondary">
            <ion-label position="floating">Nombre del inventario</ion-label>
            <ion-input [(ngModel)]="inventario.nombre" name="nombre" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="crearInventario()" style="width: 100%;" color="primary" shape="round">
            Crear inventario
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>