<app-cabecera-jefe></app-cabecera-jefe>

<ion-content color="tertiary">
  <ion-grid>
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
        <img (click)="abrirPopover()" src="../../../../assets/user.png" class="perfil" *ngIf="imagen == ''">
        <div (click)="abrirPopover()" style="background: url({{imagen}});background-size: 100% 100%; background-repeat: no-repeat;
        width: 125px; height: 125px; border-radius: 100px;" *ngIf="imagen != ''"></div>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <form [formGroup]="form">
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">Nombre completo</ion-label>
            <ion-input type="text" formControlName="Nombre"></ion-input>
          </ion-item>
          <div *ngIf="Nombre.invalid && (Nombre.dirty || Nombre.touched)">
            <ion-item color="tertiary" lines="none" *ngIf="Nombre.errors.required">
              <ion-label color="danger">No puedes dejarlo vacío</ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" *ngIf="Nombre.errors.minlength">
              <ion-label color="danger">Escribe como mínimo 3 letras</ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" *ngIf="Nombre.errors.maxlength">
              <ion-label color="danger">Un nombre no tiene más de 30 letras</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input type="text" formControlName="Telefono"></ion-input>
          </ion-item>
          <div *ngIf="Telefono.invalid && (Telefono.dirty || Telefono.touched)">
            <ion-item color="tertiary" lines="none" *ngIf="Telefono.errors.required">
              <ion-label color="danger">No puedes dejarlo vacío</ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" *ngIf="Telefono.errors.minlength">
              <ion-label color="danger">Solo 10 números</ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none" *ngIf="Telefono.errors.maxlength">
              <ion-label color="danger">Solo 10 números</ion-label>
            </ion-item>
            <ion-item color="tertiary" lines="none"  *ngIf="Telefono.errors.pattern">
              <ion-label color="danger">Solo números</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">Nombre de la empresa</ion-label>
            <ion-input type="text" formControlName="Empresa"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button style="width: 100%;" (click)="abrirCambioPass()" shape="round">
            <ion-icon slot="start" name="key-outline"></ion-icon>
            Cambiar contraseña
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="guardarPerfil()" style="width: 100%;" shape="round" [disabled]="form.invalid">
            <ion-icon slot="start" name="checkmark-circle"></ion-icon>
            Guardar Cambios
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

