<app-cabecera></app-cabecera>

<ion-content color="tertiary">
  <ion-grid>
    <form [formGroup]="form">
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label>Sucursal</ion-label>
            <ion-select interface="popover" formControlName="Subsidiary" (ionChange)="searchSubsidiary($event)">
              <ion-select-option *ngFor="let subsidiaryItem of subsidiaries" [value]="subsidiaryItem.Key">{{subsidiaryItem.Name}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary" *ngIf="subsidiaryNeedPassword">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="Password" (ionChange)="searchAnotherEmployeeInventory($event)"></ion-input>
          </ion-item>
          <div *ngIf="subsidiaryNeedPassword">
            <ion-item color="tertiary" lines="none" *ngIf="errorMessageForWrongSubsidiaryPassword !=''">
              <ion-label color="danger">{{errorMessageForWrongSubsidiaryPassword}}</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label>Inventario</ion-label>
            <ion-select interface="popover" formControlName="Inventory" (ionChange)="searchInventory($event)">
              <ion-select-option *ngFor="let inventoryItem of inventories" [value]="inventoryItem.key">
                {{inventoryItem.NombreInventario}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-item color="tertiary">
            <ion-label position="floating">Código</ion-label>
            <ion-input type="number" formControlName="Code" (ionChange)="getProduct($event)"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="readBarCode()">
            <ion-icon slot="icon-only" name="barcode"></ion-icon>
          </ion-button>
        </ion-col>
        <div *ngIf="errorMessageForProductNotFound != ''">
          <ion-item color="tertiary" lines="none">
            <ion-label color="danger">{{errorMessageForProductNotFound}}</ion-label>
          </ion-item>
        </div>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">Cantidad</ion-label>
            <ion-input type="number" formControlName="Cuantity"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="tertiary">
            <ion-label position="floating">¿De dónde viene la entrada?</ion-label>
            <ion-input type="text" formControlName="EntryNote"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="giveProductEntry()" style="width: 100%;" shape="round" [disabled]="form.invalid">
            <ion-icon slot="start" name="enter-outline"></ion-icon>
            Dar entrada
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
